<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>个人资料</title>

    <link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
    <link href="../css/personal.css" rel="stylesheet" type="text/css">
    <link href="../css/infstyle.css" rel="stylesheet" type="text/css">
    <link href="../../css/pikaday.css" rel="stylesheet" type="text/css">
    <script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>
</head>
<style>
    .hidden {
        display: none;
    }

    li.person img {
        position: relative;
        right: 7px;
        top: 6px;
        height: 20px;
        width: 20px;
    }

    .tip {
        display: inline-block;
        position: relative;
    }

    .tip:before,
    .tip:after {
        opacity: 1;
        /*透明度为完全透明*/
        position: absolute;
        z-index: 1000;
        /*设为最上层*/
        /*鼠标放上元素上时的动画，鼠标放上后效果在.tip-*:hover:before, .tip-*:hover:after中设置;
            0.3s:规定完成过渡效果需要多少秒或毫秒,ease:规定慢速开始，然后变快，然后慢速结束的过渡效果*/
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
    }

    .tip:before {
        content: '';
        border: 6px solid transparent;
    }

    .tip:after {
        content: attr(data-tip);
        /*后去要提示的文本*/
        padding: 5px;
        white-space: nowrap;
        /*强制不换行*/
        background-color: #E5EAEC;
        color: red;
    }

    .tip:hover:before,
    .tip:hover:after {
        opacity: 1;
        /*鼠标放上时透明度为完全显示*/
        z-index: 1000;
    }

    /*bottom*/

    .tip-bottom:before {
        top: 100%;
        left: 50%;
        border-bottom-color: #E5EAEC;
        margin-left: -3px;
        margin-top: -9px;
    }

    .tip-bottom:after {
        top: 100%;
        left: 50%;
        margin-left: -6px;
        margin-top: 3px;
        border-radius: 2px;
    }

    /*
        .tip-bottom:hover:before {
            margin-top: -3px;
        }

        .tip-bottom:hover:after {
            margin-top: 9px;
        }
*/

    .upfile {
        position: relative;
        bottom: 25px;
        padding: 7px;
    }

    .hiddenfile {
        position: relative;
        top: 5px;
    }

    .urlimg {
        height: 100%;
        position: absolute;
        left: 50%;
        height: 100px;
    }

</style>

<body>

    <div id="app_nc">
        <!--标题 -->
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">转手卡券</strong> </div>
        </div>
        <hr/>
        <!--个人信息 -->
        <div class="info-main">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="user-name" class="am-form-label">卡券名</label>
                    <div class="am-form-content">
                        <input type="text" id="cardname" placeholder="卡券名" maxlength="50" @change="checkname" v-model="card.cardname">
                        <div class="tip tip-bottom" style="display: block" v-bind:data-tip="message.masname" v-show="message.masname!=''"></div>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-form-label" for="user-address">使用地</label>
                    <div class="am-form-content address">
                        <select id="province" style="width: 300px;display: inline-block" v-model="card.adress_p" @change="checkadress"></select>
                        <select id="city" style="width: 300px;display: inline-block;float: right" v-model="card.adress_c" v-bind:disabled="card.adress_p=='全国通用'"></select>
                        <div class="tip tip-bottom" style="display: block" v-bind:data-tip="message.masadress" v-show="message.masadress!=''"></div>
                    </div>

                </div>
                <div class="am-form-group">
                    <label class="am-form-label">类别</label>
                    <div class="am-form-content address">
                        <select id="uptype" style="width: 300px;display: inline-block"></select>
                        <select id="c_type" style="width: 300px;display: inline-block;float: right"></select>
                        <!--                        <div class="tip tip-bottom" style="display: block"></div>-->
                    </div>

                </div>
                <div class="am-form-group">
                    <label class="am-form-label">发布商</label>
                    <div class="am-form-content address">
                        <select id="publisher"></select>
                    </div>

                    <div class="am-form-group">
                        <label for="effectiveTime" class="am-form-label">生效日期</label>
                        <div class="am-form-content">
                            <input id="effectiveTime" placeholder="生效日期" type="text" @change="sss">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="invalidTime" class="am-form-label">失效日期</label>
                        <div class="am-form-content">
                            <input id="invalidTime" placeholder="失效日期" type="text">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="currentPrice" class="am-form-label">现价</label>
                        <div class="am-form-content">
                            <input id="currentPrice" placeholder="现价" type="text" v-model="card.currentPrice">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="originalPrice" class="am-form-label">原价/面值</label>
                        <div class="am-form-content">
                            <input id="originalPrice" placeholder="原价/面值" type="text" @change="checkoriginalPrice" v-model="card.originalPrice">

                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="imgurl" class="am-form-label">选择图片</label>
                        <div class="am-form-content">
                            <img id="image" src="" class="urlimg" />
                            <input type="file" onchange="selectImage(this);" id="imgurl" class="hiddenfile" />
                            <input type="button" onclick="uploadImage();" value="提交" style="display: none" id="saveattachment" />
                            <div class="am-btn am-btn-danger upfile" onclick="cc()">选择文件</div>
                            <div style="display: none" id="reurl"></div>
                        </div>
                    </div>
                    <div class="info-btn">
                        <div class="am-btn am-btn-danger" v-on:click="save">保存修改</div>
                    </div>
            </form>
            </div>
        </div>
</body>
<!--<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>-->
<script type="text/javascript" src="../../js/json-driver.js"></script>
<script type="text/javascript" src="../../js/vue.js"></script>
<script type="text/javascript" src="../../js/pikaday.js"></script>
<script type="text/javascript" src="../../js/city.js"></script>
<script>
    $(function() {
        var imgurl = "";
        var vm = new Vue({
            el: '#app_nc',
            data: {
                userName: sessionStorage.getItem("userName"),
                userId: sessionStorage.getItem("userId"),
                card: {
                    typeId: 1,
                    uId: 1,
                    pId: 1,
                    effectiveTime: "",
                    invalidTime: "",
                    currentPrice: "",
                    originalPrice: "",
                    cardname: "",
                    url: "",
                    adress_p: "",
                    adress_c: "",
                },
                message: {
                    masname: "",
                    masadress: "",
                }
            },
            methods: {
                sss: function() {
                    //                    alert(this.card.effectiveTime)
                },
                checkname: function() {
                    if (this.card.cardname == "") {
                        this.message.masname = "卡券名不能为空";
                    } else {
                        this.masname = "";
                    }
                },
                checkadress: function() {
                    if (this.card.adress_p == "") {
                        this.message.masadress = "使用地不能为空";
                    } else {
                        this.masadress = "";
                    }
                },
                checkeffective: function() {
                    if (this.card.effectiveTime == "") {
                        this.message.maseffectiveTime = "生效日期不能为空";
                    } else {
                        this.message.maseffectiveTime = "";
                    }
                },
                checkoriginalPrice: function() {
                    var patrn = /^\d+(\.\d+)?$/;
                    if (this.card.originalPrice == "" || !patrn.exec(this.card.originalPrice)) {
                        this.message.masoriginalPrice = "填写正确的数字";
                    } else {
                        this.message.masoriginalPrice = "";
                    }
                },
                save: function() {
                    if ($(".hiddenfile").val() != "") {
                        $("#saveattachment").click();
//                        alert($("#reurl").html());
                    }

                    vm.card.url = $("#reurl").html();
                    vm.card.effectiveTime = $("#effectiveTime").val();
                    vm.card.invalidTime = $("#invalidTime").val();
                    vm.card.adress = $("#province").val() + "-" + $("#city").val();
                    vm.card.pId = parseInt($("#publisher option:selected").val());
                    vm.card.typeId = parseInt($("#c_type option:selected").val());
                    delete vm.card.adress_c;
                    delete vm.card.adress_p;
                    PostGetJson("addCard.do", this.card, this.sucnewcard);
                },
                sucnewcard: function() {
                    alert("新增卡券成功！");
                    sessionStorage.setItem("newcardid",$("#reurl").html());
                    location.href="../home/introduction.html";
                }
            },
            created: function() {
                $(".hidden").removeClass("hidden");

            },
            mounted: function() {}
        })
        var picker = new Pikaday({
            field: document.getElementById('effectiveTime'),
            firstDay: 1,
            minDate: new Date('2010-01-01'),
            maxDate: new Date('2020-12-31'),
            yearRange: [2000, 2020]
        });
        var picker = new Pikaday({
            field: document.getElementById('invalidTime'),
            firstDay: 1,
            minDate: new Date('2010-01-01'),
            maxDate: new Date('2020-12-31'),
            yearRange: [2000, 2020]
        });
    })
    $(function() {
        var pHtmlStr = '';
        for (var name in pc) {
            pHtmlStr = pHtmlStr + '<option>' + name + '</option>';
        }
        $("#province").html(pHtmlStr);
        $("#province").change(function() {
            var pname = $("#province option:selected").text();
            var pHtmlStr = '';
            var cityList = pc[pname];
            for (var index in cityList) {
                pHtmlStr = pHtmlStr + '<option>' + cityList[index] + '</option>';
            }
            $("#city").html(pHtmlStr);
        });
        $("#province").change();
        var uptypeStr = function(re) {
            if (re.length > 0) {
                var pHtmlStr;
                for (var i = 0; i < re.length; i++) {
                    pHtmlStr = pHtmlStr + '<option value=' + re[i].uptypeId + '>' + re[i].uptypeName + '</option>';
                }
                $("#uptype").html(pHtmlStr);
            }

        }
        var typeStr = function(re) {
            if (re.length > 0) {
                var pHtmlStr;
                for (var i = 0; i < re.length; i++) {
                    pHtmlStr = pHtmlStr + '<option value=' + re[i].typeId + '>' + re[i].typeName + '</option>';
                }
                $("#c_type").html(pHtmlStr);
            }
        }
        var publisherStr = function(re) {
            if (re.length > 0) {
                var pHtmlStr;
                for (var i = 0; i < re.length; i++) {
                    pHtmlStr = pHtmlStr + '<option value=' + re[i].pId + '>' + re[i].pName + '</option>';
                }
                $("#publisher").html(pHtmlStr);
            }
        }
        $("#uptype").change(function() {
            var cId = $("#uptype option:selected").val();
            PostGetJson("findTypeByupId.do", parseInt(cId), typeStr);
            PostGetJson("findPublisherByupId.do", parseInt(cId), publisherStr);
        })
        $("#c_type").change(function() {

        })

        PostGetJson("findPublisherByupId.do", 1, publisherStr);
        PostGetJson("findTypeByupId.do", 1, typeStr);
        PostGetJson("findallUptypelist.do", this.card, uptypeStr);

    })

    function cc() {
        $(".hiddenfile").click();
    }
    var image = '';

    function selectImage(file) {
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function(evt) {
            document.getElementById('image').src = evt.target.result;
            image = evt.target.result;
        }
        reader.readAsDataURL(file.files[0]);
    }

    function uploadImage() {
        image = JSON.stringify(image)
        $.ajax({

            type: 'POST',

            url: curl + 'addAttachmentbase64.do',

            data: {
                base64: image
            },

            async: false,

            dataType: 'json',

            success: function(data) {
                if (data.success) {
                    $("#reurl").html(data.imgurl);

                } else {

                    alert('上传图片失败');

                }

            },

            error: function(err) {

                alert('网络故障');

            }

        });

    }

</script>

</html>
